.container-fluid {
    padding: 0;
    position: absolute;
    top: 454px;
    .row {
        margin: 0;
        padding: 15px;
    }
    // Styles applied to multiple sections
    section {
        position: relative;
        .card {
            margin: 5px auto;
            .card-img-top {
                padding-top: 15px;
                opacity: 0.8;
                /* For IE8 and earlier */
                filter: alpha(opacity=80);
            }
            .card-img-top:hover {
                opacity: 1.0;
                /* For IE8 and earlier */
                filter: alpha(opacity=100);
            }
            .card-block {
                padding-left: 3%;
                p {
                    padding-bottom: 40px;
                }
            }
            .btn {
                position: absolute;
                bottom: 10px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-small) {
    .card {
        max-width: 48%;
    }
}

@media screen and (min-width: $breakpoint-medium) {
    .card {
        max-width: 32%;
    }
}

@media screen and (min-width: $breakpoint-large) {
    .card {
        max-width: 30%;
    }
    .upper-row {
        margin-bottom: 50px !important;
    }
}

@media screen and (min-width: $breakpoint-extralarge) {
    .card {
        max-width: 28%;
    }
    .upper-row {
        margin-bottom: 80px !important;
    }
}