// Styles applied on whole container encompassing multiple sections.
.container-fluid {
    padding: 0;
    position: absolute;
    top: 100vh;
    .row {
        margin: 0;
        padding: 15px;
    }
    section {
        position: relative;
    }
}

@media screen and (min-width: $breakpoint-large) {
    .upper-row {
        margin-bottom: 50px !important;
    }
}

@media screen and (min-width: $breakpoint-extralarge) {
    .upper-row {
        margin-bottom: 80px !important;
    }
}