#home {
    z-index: -3;
    margin-top: 54px;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 400px;
    background: url('../img/lake1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    #profile-pic {
        border-radius: 10px;
        margin-top: 30px;
    }
    #summary {
        display: none;
        font-weight: bold;
        max-width: 480px;
        margin: 0 auto;
        padding-top: 10px;
        color: $black;
        font-size: 2em;
    }
}

@media screen and (min-width: $breakpoint-small) {
    #home {
        padding-left: 30px;
        #profile-pic {
            float: left;
        }
        #summary {
            float: left;
            text-align: left;
            max-width: 500px;
            margin: 0;
        }
    }
}

@media screen and (min-width: $breakpoint-medium) {
    #home {
        #summary {
            padding-top: 0;
            max-width: 410px;
            margin: {
                left: 10px;
                top: 30px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-large) {
    #home {
        #summary {
            max-width: 500px;
        }
    }
}

@media screen and (min-width: $breakpoint-extralarge) {
    #home {
        #summary {
            font-size: 2.5em;
            max-width: 650px;
        }
    }
}