.container-fluid {
    padding: 0;
}

h1 {
    color: blue;
}

.test {
    width: 50%;
    height: 200px;
    background-color: red;
    float: left;
    border: {
        color: black;
        style: solid;
        width: 5px;
    }
}

.navbar-toggler {
    float: right;
}

.nav-item-adjust {
    clear: both;
    float: right !important;
}