@import "https://fonts.googleapis.com/css?family=Playfair+Display";
body {
  font-family: 'Playfair Display', serif; }

nav {
  padding: 0 !important;
  min-height: 54px; }
  nav #name {
    padding-top: 10px;
    padding-left: 30px; }
  nav #menu {
    margin-top: 10px; }
    nav #menu .nav-item .nav-link {
      width: 543px;
      color: #fff;
      padding-right: 20px;
      max-height: 54px;
      padding-top: 15px;
      text-align: right; }
    nav #menu .nav-item .nav-link:hover {
      background-color: #222; }
    nav #menu .navbar-toggler {
      position: absolute;
      top: 8px;
      right: 8px;
      color: #fff; }

#home {
  z-index: -3;
  margin-top: 54px;
  position: fixed;
  width: 100%;
  text-align: center;
  height: 400px;
  background: url("../img/lake1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #home #profile-pic {
    border-radius: 10px;
    margin-top: 30px; }
  #home #summary {
    font-weight: bold;
    max-width: 480px;
    margin: 0 auto;
    padding-top: 10px;
    color: #222;
    font-size: 2em; }

.container-fluid {
  padding: 0;
  position: absolute;
  top: 454px; }
  .container-fluid .row {
    margin: 0;
    padding: 15px; }
  .container-fluid section {
    position: relative; }
    .container-fluid section .anchor {
      position: absolute;
      width: 0;
      height: 0;
      top: -54px;
      left: 0; }
    .container-fluid section .card {
      margin: 5px auto; }
      .container-fluid section .card .card-img-top {
        padding-top: 15px;
        opacity: 0.8;
        /* For IE8 and earlier */
        filter: alpha(opacity=80); }
      .container-fluid section .card .card-img-top:hover {
        opacity: 1.0;
        /* For IE8 and earlier */
        filter: alpha(opacity=100); }
      .container-fluid section .card .card-block {
        padding-left: 3%; }
        .container-fluid section .card .card-block p {
          padding-bottom: 40px; }
      .container-fluid section .card .btn {
        position: absolute;
        bottom: 10px; }

#featured-projects {
  color: #fff;
  background-color: #373a3c; }
  #featured-projects #fp-inner-container {
    padding: 0;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s; }
    #featured-projects #fp-inner-container .card {
      color: #373a3c;
      background-color: #b3b3b3; }
      #featured-projects #fp-inner-container .card .btn {
        color: #fff;
        background-color: #373a3c; }
      #featured-projects #fp-inner-container .card .btn:hover {
        background-color: #222; }

#other-projects {
  background-color: #b3b3b3;
  position: relative; }
  #other-projects #panel-heading a {
    color: #333; }
  #other-projects #expand-span {
    font-size: 0.65em; }
  #other-projects #collapse #collapse-inner {
    padding: 0; }
    #other-projects #collapse #collapse-inner .card {
      color: #fff;
      background-color: #373a3c; }
      #other-projects #collapse #collapse-inner .card .btn {
        color: #373a3c;
        background-color: #b3b3b3; }
      #other-projects #collapse #collapse-inner .card .btn:hover {
        color: #fff;
        background-color: #222; }

#about {
  position: relative;
  color: #fff;
  background-color: #373a3c; }
  #about a {
    color: #b3b3b3; }
  #about ul {
    color: #373a3c; }
    #about ul .list-text {
      max-width: 50vmin;
      display: inline-block;
      padding: 0;
      margin: 0; }
    #about ul .tag {
      color: #fff;
      background-color: #373a3c; }
  #about #external-links {
    margin-top: 20px; }
    #about #external-links p {
      padding: 0; }
      #about #external-links p img {
        width: 100px;
        height: 40px;
        background-color: #fff;
        border-radius: 4px; }
      #about #external-links p #github {
        margin-left: 2px; }
      #about #external-links p #linkedin {
        margin-left: 20px; }

#contact {
  color: #373a3c;
  background-color: #b3b3b3; }
  #contact form {
    padding-left: 0;
    padding-right: 0; }
    #contact form textarea {
      resize: none; }
    #contact form .btn {
      color: #fff;
      background-color: #373a3c; }

footer {
  color: #fff;
  background-color: #373a3c;
  text-align: center; }
  footer p {
    margin: 0;
    padding: 10px; }

@media screen and (min-width: 544px) {
  nav {
    padding: 0 !important; }
    nav #name {
      padding-top: 10px;
      padding-left: 30px; }
    nav #menu {
      margin-top: 0;
      padding-right: 7px; }
      nav #menu .nav-item {
        margin: 0;
        padding-left: 8px;
        padding-right: 8px; }
        nav #menu .nav-item .nav-link {
          width: 100%;
          color: #fff;
          padding-right: 0;
          max-height: 54px;
          padding-top: 15px;
          text-align: center; }
      nav #menu .nav-item:hover {
        background-color: #222; }
      nav #menu .navbar-toggler {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #fff; }

  #home {
    padding-left: 30px; }
    #home #profile-pic {
      float: left; }
    #home #summary {
      float: left;
      text-align: left;
      max-width: 500px;
      margin: 0; }

  .card {
    max-width: 48%; }

  #about #linkedin {
    margin-left: 2px !important; } }
@media screen and (min-width: 768px) {
  .card {
    max-width: 32%; }

  #home #summary {
    padding-top: 0;
    max-width: 410px;
    margin-left: 10px;
    margin-top: 30px; }

  #featured-projects #fp-inner-container {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s; } }
@media screen and (min-width: 992px) {
  .card {
    max-width: 32%; }

  #home #summary {
    max-width: 500px; } }
@media screen and (min-width: 1200px) {
  .card {
    max-width: 24%; }

  #home #summary {
    font-size: 2.5em;
    max-width: 650px; }

  #about ul {
    max-width: 49%; } }

/*# sourceMappingURL=styles.css.map */
