.container-fluid {
    padding: 0;
}

.navbar-toggler {
    float: right;
}

.nav-item-adjust {
    clear: both;
    float: right !important;
}

.row {
    margin: 0;
    padding: 15px;
}

#home {
    height: 200px;
    background-color: antiquewhite;
}

#projects {
//    background-color: aquamarine;
}

img {
    padding-top: 15px;
}